<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: here's some information about me!</p>
        <p>I love eating spicy food and playing ultimate frisbee!<p>
        <p>I live at 690 Franklin Ave!<p>
    </body>
</html>
